.body {
    font: 600 14px/20px 'Open Sans', sans-serif;
    margin: 0 ;
    color: #48555B;
    background: #d3cece;
}
.wrapper    {
    width: 100%;
    position: relative;
    overflow: hidden;

}
.btn    {
    margin-left: 20px ;
}

.user-list  {
    margin: 20px 20px;
    list-style: none;
}
.user-item  {
    margin: 0 0 5px 0;
    padding:  0 ;
}
.user-card   {
    margin-bottom: 15px;
    padding:  0  ;
}
.user-img   {
    border-radius: 6px;
    box-sizing: border-box;
}

.button {
    font: 500 13px/18px 'Open Sans', sans-serif;
    color: #fff;
    letter-spacing: 1px;
    display: inline-block;
    min-width: 100px;
    padding: 5px 8px;
    box-sizing: border-box;
    border-radius: 2px;
    text-transform: uppercase;
    background: #8c979d;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;


}